body{
    background-image: url("https://cdn1.vectorstock.com/i/1000x1000/26/50/abstract-background-stock-market-background-vector-12252650.jpg");
    background-size: cover; 
}
button{
    font-size: large;
    background-color: #0d6efd;
    border: none;
    border-radius: 5px;
    padding: 7px;
    width: 150px;
    margin-top: 8px;
    color: white;
}

.input-form{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 9px;
   margin:220px;
}

input{
    width: 230px;
    height: 50px;
    padding: 5px;
}

input::placeholder{
 opacity: 0.5;
}

h2{
    color: white;
}